/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}

:root {
  /* --primary: #2674cf;
  --secondary: #4082d4;
  --white: #ffffff;
  --off-white: #f9f9f9;
  --accent: #58ce3d; */

  --primary: #333333;
  --secondary: #2674cf;
  --white: #ffffff;
  --off-white: #f9f9f9;
  --accent: orangered;

  --box-shadow: 0px 2px 13px -1px rgba(0, 0, 0, 0.5);
  --box-shadow-strong: 0px 2px 13px -1px rgba(0, 0, 0, 1);

  --menu-btn-hover: rgb(248, 250, 250);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background: var(--primary);
  color: var(--primary);
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

/* Utility Classes */
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.accented {
  color: var(--accent);
}

.wrapper {
  max-width: 1920px;
  min-width: 320px;
  margin: auto;
}

.container,
.container-dark {
  padding: 2rem;
}

.container {
  background: white;
}

.dark {
  background: var(--primary);
  color: white;
  /* border-bottom: white 1rem solid; */
}

.light {
  background: white;
  color: var(--primary);
  /* border-bottom: var(--primary) 1rem solid; */
}

.section-header {
  font-family: "Quicksand", sans-serif;
  font-weight: 100;
  font-size: 5rem;
  margin-bottom: 4rem;
}

.section-header-small {
  font-family: "Quicksand", sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.tech-title {
  font-family: "Quicksand", sans-serif;
  font-weight: 100;
}
.proj-title {
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.tech-title,
.proj-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.main-content {
  margin: auto;
  max-width: 1100px;
}

.emphasis {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.box-shadow-top {
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
}

/* Animation Classes */
.slide-in {
  animation: slide-in 0.3s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

@keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  100% {
    -webkit-transform: translateX(0%);
  }
}

/* Scroll to Top Button */
.top-button .btn-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--menu-btn-hover);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  cursor: pointer;
}

.top-button .btn-top:hover {
  transition: 0.3s;
  opacity: 1;
  background: lightgray;
}

.top-button .btn-top i {
  margin-top: 15px;
  color: black;
}

/* Showcase */
#showcase .showcase-content {
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#showcase .showcase-content .showcase-image {
  margin: 0 2rem;
}

#showcase .showcase-content .showcase-image img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  flex: 1;
  margin: 1rem;
  box-shadow: var(--box-shadow);
  border: 8px solid #ffffff;
}

#showcase .showcase-content .intro {
  flex: 1;
  font-family: "Open Sans", sans-serif;
}

#showcase .showcase-content .intro .name {
  font-size: 36px;
  margin: 1rem auto 1rem auto;
  font-weight: 100;
  text-align: center;
}

#showcase .showcase-content .intro .subtext {
  font-size: 1rem;
  font-weight: 100;
  text-align: center;
}

#about-me .main-content p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  margin-bottom: 1rem;
}

/* Education */
#education .main-content .education-item {
  margin-bottom: 5rem;
}

#education .education-item .edu-title {
  font-size: 2.5rem;
  margin: 1rem auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

#education .education-item .course-details {
  display: flex;
  position: relative;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

#education .education-item .course {
  display: inline;
}

#education .education-item span {
  position: absolute;
  right: 8rem;
}

/* Tech Stack */
#tech-stack .tech-boxes {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

#tech-stack .tech-boxes .tech-box {
  background: white;
  color: var(--primary);
  width: 300px;
  border-radius: 25px;
  height: 566px;
  box-shadow: var(--box-shadow-strong);
  padding: 2rem;
}
#tech-stack .tech-boxes .tech-box ul li {
  padding-bottom: 0.7rem;
  font-weight: bold;
}

#tech-stack .tech-boxes .tech-box ul li > ul {
  padding-top: 1rem;
  padding-left: 2rem;
}

#tech-stack .tech-boxes .tech-box ul li > ul > li {
  font-weight: 100;
}

/* Projects */
#projects .projects-items .proj-item {
  margin-bottom: 2.5rem;
}

#projects .projects-items .proj-item p {
  font-family: "Roboto", sans-serif;
}

#projects .projects-items .proj-item ul {
  margin: 1rem auto;
  padding-left: 3rem;
}

/* Contact */
#contact .contact-container {
  height: 100px;
  display: flex;
  align-items: center;
}
#contact .contact-container-mobile {
  display: none;
}
#contact .contact-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 600px;
  margin: 1rem auto;
}

#contact .contact-items .circle-icon {
  background: white;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin: 0 1rem;
}

#contact .contact-items .circle-icon li {
  position: absolute;
}

#contact .contact-items .circle-icon i {
  position: relative;
  left: 22px;
  top: 21px;
  z-index: 1;
  color: #333333;
}

#contact .contact-container .telephone {
  font-size: 13px;
  font-weight: 300;
  color: lightgray;
  text-align: center;
  margin-top: 3rem;
}

/* Footer */
footer {
  color: lightgray;
  font-size: 10px;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin: 1rem auto;
}
